/* Fuente principal */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fffdfd;
    color: white;
} 

/* Navbar personalizado */
.custom-navbar {
    background-color: rgb(0, 71, 171);
    padding: 12px 0;
    border-bottom: 2px solid rgb(0, 71, 171);
    transition: background 0.3s ease;
}

.custom-navbar .nav-link {
    color: white !important;
    margin-left: 20px;
    position: relative;
    transition: all 0.3s ease;
}

.custom-navbar .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgb(0, 71, 171);
    left: 0;
    bottom: -4px;
    transition: width 0.3s;
}

.custom-navbar .nav-link:hover::after {
    width: 100%;
}

.custom-navbar .logout-btn {
    color: rgb(0, 71, 171) !important;
    font-weight: bold;
}

/* Logo con brillo */
.logo-glow {
    filter: drop-shadow(0 0 6px rgb(0, 71, 171));
}

/* HERO SECTION */
.hero-section {
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    padding: 0 15px;
}

.hero-logo {
    width: 460px;
    filter: drop-shadow(0 0 10px rgb(0, 71, 171));
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color:rgb(0, 71, 171);
}

.hero-subtitle {
    font-size: 1.2rem;
    color: rgb(0, 71, 171);
}

/* Secciones */
.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 71, 171);
}

/* Footer */
.footer {
    background: rgb(0, 71, 171);
    padding: 15px 0;
    border-top: 2px solid rgb(0, 71, 171);
    font-size: 0.9rem;
    color: #ffffff;
}

#sobre-nosotros p {
    color: #383737 !important;
}

/* Secciones de texto (Sobre nosotros, Misión, Visión) */
.info-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff8f8; /* Fondo negro */
    border: 2px solid rgb(0, 71, 171); /* Borde rojo */
    border-radius: 20px; /* Esquinas rgb(0, 71, 171)ondeadas */
    box-shadow: 0 0 15px rgb(0, 71, 171); /* Brillo alrgb(0, 71, 171)edor */
    margin-bottom: 40px; /* Espacio entre secciones */
}

.info-section h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 71, 171);
    margin-bottom: 20px;
}

.info-section p {
    color: #383737 !important;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
